{% extends 'invoice/base.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="mt-5">
    <h2>Customer List</h2>
    <button type="button" class="btn btn-primary mb-3" onclick="window.location.href='{% url 'unpaid_invoices' %}'">
        Unpaid Invoices
    </button>

    {% if filter %}
    <form action="" method="get" class="form">
        <div class="row g-3">
            {% bootstrap_form filter.form layout='inline' %}
        </div>
        <br>
        {% bootstrap_button 'filter' %}
    </form>
    <br>
    {% endif %}
    {% load render_table from django_tables2 %}
    {% render_table table %}
</div>
{% endblock %}
