{% extends 'invoice/base.html' %}
{% load bootstrap5 %}

{% block content %}
<section class="py-3 py-md-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9 col-xl-8 col-xxl-7">
                <div class="row gy-3 mb-3">
                    <div class="col-6">
                        <h2 class="text-uppercase m-0">Invoice #{{ invoice.number }}</h2>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6"><strong>Salesman:</strong> {{ invoice.salesman.name }}</div>
                            <div class="col-6"><strong>Delivery Date:</strong> {{ invoice.delivery_date }}</div>
                            <div class="col-6"><strong>Terms:</strong> {{ invoice.terms }}</div>
                            <div class="col-6"><strong>Payment Date:</strong> {{ invoice.payment_date }}</div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-sm-6 col-md-8">
                        <h4>Sold To</h4>
                        <address>
                            <strong>{{ invoice.customer.name }}</strong><br>
                            {{ invoice.customer.address|linebreaksbr }}
                        </address>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col" class="text-uppercase">Quantity</th>
                                    <th scope="col" class="text-uppercase">Product</th>
                                    <th scope="col" class="text-uppercase text-end">Unit Price</th>
                                    <th scope="col" class="text-uppercase text-end">Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in invoice.invoiceitem_set.all %}
                                <tr>
                                    <th scope="row">{{ item.quantity }} {{ item.product.unit }}</th>
                                    <td>{{ item.product.name }}</td>
                                    {% if item.product_type == "normal"%}
                                    <td class="text-end">{{ item.price }}</td>
                                    <td class="text-end">{{ item.sum_price }}</td>
                                    {% else %}
                                    <td class="text-end">{{ item.product_type }}</td>
                                    <td class="text-end">-</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="3" class="text-end">Total</td>
                                    <td class="text-end">{{ invoice.total_price }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-end">
                        <button type="button" class="btn btn-primary mb-3"
                                onclick="window.location.href='{% url 'download_invoice_legacy_pdf' invoice.number %}'">
                            Download Invoice Legacy
                        </button>
                        <button type="button" class="btn btn-primary mb-3"
                                onclick="window.location.href='{% url 'download_invoice_pdf' invoice.number %}'">
                            Download Invoice
                        </button>
                        <button type="button" class="btn btn-primary mb-3"
                                onclick="window.location.href='{% url 'download_order_form_pdf' invoice.number %}'">
                            Download Order Form
                        </button>
                        {% if invoice.customer.delivery_to and invoice.customer.delivery_address %}
                        <button type="button" class="btn btn-primary mb-3"
                                onclick="window.location.href='{% url 'download_delivery_note_pdf' invoice.number %}'">
                            Download Delivery Note
                        </button>
                        {% endif %}
                        <button type="button" class="btn btn-primary mb-3"
                                onclick="window.location.href='{% url 'download_sample_pdf' invoice.number %}'">Download
                            Sample
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
