{% extends 'invoice/base.html' %}
{% load humanize %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">Product List</h2>
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Box Amount</th>
                <th>Box Remain</th>
                <th>Registration Code</th>
                <th>Expiry Date</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
            <tr>
                <td>
                    <a href="{% url 'product_transaction_detail' product.id %}" class="text-decoration-none">
                        {{ product.name }}
                    </a>
                </td>
                <td>${{ product.price }}</td>
                <td>{{ product.quantity|intcomma }}</td>
                <td>{{ product.box_amount }}</td>
                <td>{{ product.box_remain }}</td>
                <td>{{ product.registration_code }}</td>
                <td>{{ product.expiry_date }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
