{% extends "invoice/base.html" %}

{% block content %}
<h1>Unpaid Invoices for {{ customer.name }}</h1>

<table class="table">
    <thead>
    <tr>
        <th>Invoice Number</th>
        <th>Delivery Date</th>
        <th>Total Price</th>
    </tr>
    </thead>
    <tbody>
    {% for invoice in unpaid_invoices %}
    <tr>
        <td>{{ invoice.number }}</td>
        <td>{{ invoice.delivery_date }}</td>
        <td>{{ invoice.total_price }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{% url 'download_statement_pdf' customer.name %}" class="btn btn-primary">Download Statement</a>
{% endblock %}
