/* Fix for TabularInline width */
.tabular.inline-related {
    width: 100%;
    overflow-x: auto;
}

.tabular.inline-related table {
    width: 100% !important;
}

.tabular.inline-related td, .tabular.inline-related th {
    white-space: nowrap;
    padding: 4px;
}

/* Optional: Make form fields more compact */
.tabular.inline-related input:not([type="checkbox"]),
.tabular.inline-related textarea {
    width: 90%;
    max-width: 200px;
}

span[id^="select2-id_invoiceitem_set-"][id$="-product-container"] {
    width: 300px !important;
    min-width: 100px !important;
    max-width: 300px !important;
}

.select2-container {
    min-width: 100px !important;
}
.modal-dialog {
    max-width: 100% !important;
    padding-left: 10px !important;
    width: auto !important;
}

.modal-content {
    height: 90vh !important;  /* Make modal 90% of the viewport height */
    overflow-y: auto !important; /* Enable scrolling if content overflows */
}
